@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-blue-color: #211E3B;
    --dark-gray-color: #34495e;
    --orange-color: #d35400;
    --green-color: #27ae60;
    --light-color: #FFF;
    --blue-color: #3498db;
    --light-gray-color: #bdc3c7;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*top-bar*/
.top-bar-container {
    width: 100%;
    height: 40px;
    background-color: var(--dark-blue-color);
    display: flex;
    justify-content: center;
}

.top-bar-inner {
    width: 90%;
    height: 100%;
    display: flex;
}

.top-bar-inner-items {
    flex: 1;
}

.top-social-list {
    list-style: none;
    display: flex;
    height: 100%;
}

.top-social-list li {
    color: var(--light-gray-color);
    width: 40px;
    border-right: 1px solid var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
}

.top-social-list li:first-child {
    border-left: 1px solid var(--light-gray-color);
}

.top-social-list li:hover {
    cursor: pointer;
    color: var(--light-color);
}

.top-social-right-list li {
    width: auto !important;
    padding: 0 20px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

/*top-bar*/

/*nav-bar*/
.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header-inner {
    width: 90%;
    height: 100%;
    display: flex;
}

.logo-wrapper {
    width: 300px;
    align-items: center;
}

.logo-wrapper a {

}

.logo-wrapper a img {
    height: 50px;
}

.nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.util-wrapper {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.header-item {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.util-context {
    width: 180px;
    height: 100%;
    display: flex;
}

.util-items {
    flex: 1;
    font-size: 25px;
    color: var(--dark-gray-color);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.badge {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    color: var(--light-color);
    border-radius: 100%;
    position: absolute;
    margin-top: 25px;
    margin-right: 20px;
    background-color: var(--blue-color);
}

/*nav-bar*/
/*quick access*/
.quick-access-wrapper {
    width: 50px;
    position: fixed;
    top: 200px;
    right: 0;
}

.quick-items {
    height: 50px;
    width: 200px;
    position: relative;
    transition: all 300ms linear;
}

.quick-items:hover {
    transform: translateX(-150px);
    cursor: pointer;
}

.icon-wrapper {
    width: 50px;
    height: 100%;
}

.wrapper-1, .i1 {
    background-color: var(--dark-gray-color);
}

.wrapper-2, .i2 {
    background-color: var(--blue-color);
}

.wrapper-3, .i3 {
    background-color: var(--orange-color);
}

.wrapper-4, .i4 {
    background-color: var(--green-color);
}

/*quick access*/

/*top-slider*/
.top-slider-wrapper {
    width: 100%;
    height: 100vh;

}

/*top-slider*/

/*brand-slider*/
.brand-slider-wrapper {
    width: 100%;
    height: 350px;

}

/*brand-slider*/
/*about*/
.about-wrapper {
    width: 100%;

    display: flex;
}
.about-inner{
    flex:1;

}
.about-left{
    padding: 10px 80px 10px 100px;
}
.about-left-content-1{

}
.about-left-content-1 span{
    color: var(--blue-color);
}
.about-left-content-1 h1{
    line-height: 30px;
    margin-top: 10px;
}
.about-left-content-1 p{
    margin-top: 20px;
}
.about-left-content-2-left, .about-left-content-2-right{
    padding-right: 10px;
}
.about-left-content-2-left i, .about-left-content-2-right i{
    font-size: 30px;
    color: var(--blue-color);
}

.about-left-content-2-left h4, .about-left-content-2-right h4{
    color: var(--dark-blue-color);
    font-size: 22px;
    margin-top: 10px;
}
.about-left-content-2{
    display: flex;
}
.about-left-content-2-left, .about-left-content-2-right{
    flex:1;

}
.about-loader{
    width: 100%;
    height: 3px;
    background-color: var(--dark-gray-color);
}
.about-right img{
    height: 100%;
    max-width: 100%;
}

/*about*/

/*why-choose-us*/
.why-choose-us-wrapper {
    width: 100%;
    height: 500px;
    border: 1px solid red;
}

/*why-choose-us*/


/*our-services*/
.our-services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-top-wrapper{
    width: 90%;
    position: relative;
}
.service-top-wrapper p{
    color: var(--blue-color);
    font-size: 20px;
}
.service-top-wrapper h1{
    font-size: 40px;
    line-height: 40px;
    margin-top: 15px;
}
.service-top-wrapper button{
   width: 150px;
    height: 50px;
    background: var(--blue-color);
    position: absolute;
    right: 50px;
    top: 25px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
}

.service-layer{
    width: 90%;
    position: relative;
    margin-top: 25px;
}
.service-layer-inner{
    display: flex;
}
.service-element{
    flex:1;
    display: flex;
}
.service-element-icon-layer{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-element-icon-layer i{
    font-size: 25px;
    color: var(--blue-color);
}
.service-element-data-layer{
    flex:1;
    padding: 10px;
}
.service-element-data-layer h3{
    font-size: 25px;
}
.contact-us-wrapper{
    width: 90%;
    position: relative;
    margin-top: 25px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://wpdemo.archiwp.com/engitech/wp-content/uploads/sites/4/2020/02/bg-cta1-home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*our-services*/
/*latest case studies*/
.latest-case-studies-wrapper {
    width: 100%;
    height: 500px;
    border: 1px solid red;
}

/*latest case studies*/
/*technology index*/
.technology-index-wrapper {
    width: 100%;
    height: 500px;
    background-image: url("https://wpdemo.archiwp.com/engitech/wp-content/uploads/sites/4/2020/02/bg-tech-home1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tech-index-text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tech-index-text-content h5 {
    color: var(--light-color);
    text-align: center;
    margin-bottom: 20px;
}

.tech-index-text-content h1 {
    color: var(--light-color);
    text-align: center;
    line-height: 30px;
}
.tech-index-details-wrapper{
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-top: 20px;
}
.tech-index-element{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-index-element-inner{
    width: 90%;
    height: 95%;
    border: 1px solid var(--light-color);
    border-radius: 3px;
    transition: all 300ms linear;
    color: var(--light-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.tech-index-element-inner:hover{
    background-color: var(--blue-color);
    cursor: pointer;
}
/*technology index*/

/*our clients*/
.our-clients-wrapper {
    width: 100%;
    height: 500px;
    border: 1px solid red;
}

/*our clients*/

/*footer*/
.footer-context {
    width: 100%;
    padding: 80px 0;
    background-color: var(--dark-blue-color);
}

.footer-logo-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-wrapper img {
    height: 40px;
}

.footer-contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.footer-contact-elements {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact-elements p i {
    color: var(--blue-color);
    font-size: 25px;
}

.footer-contact-elements h5 {
    color: var(--light-color);
    font-size: 18px;
    margin: 20px 0 0 0;
    font-weight: 400;
    text-align: center;
}

.footer-contact-elements h6 {
    color: var(--light-gray-color);
    font-size: 14px;
    margin: 20px 0 0 0;
    font-weight: 400;
}

.footer-nav-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.footer-nav-wrapper ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.footer-nav-wrapper ul li {
    padding: 0 20px;
}

.footer-nav-wrapper ul li a {
    text-decoration: none;
    color: var(--light-color);
}

.footer-nav-wrapper ul li a:hover {
    color: var(--blue-color);
!important;
}

.footer-rights-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer-rights-wrapper p {
    text-align: center;
    color: var(--light-color);
    font-size: 15px;
}

.footer-social-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item {
    width: 35px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.social {
    width: 30px;
    height: 30px;
    background-color: var(--light-gray-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
}

.social-item:hover .social {
    transform: translateY(-20px);
    cursor: pointer;
}

/*footer*/

/*media queries*/

@media only screen and (max-width: 1120px) {
    .service-layer-inner {
       flex-direction: column;
    }
}
@media only screen and (max-width: 1016px) {
    .about-wrapper {
       display: block;
    }
}
@media only screen and (max-width: 765px) {
    .footer-contact-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 731px) {
    .top-bar-container {
        display: none;
    }
}
@media only screen and (max-width: 680px) {
    .service-top-wrapper h1 {
        margin-bottom: 80px;
    }
    .service-top-wrapper button{
        left: 0;
        top: 150px;
    }
}
@media only screen and (max-width: 512px) {
    .service-element {
        flex-direction: column;
        align-items: center;
    }
    .service-element-icon-layer{
        text-align: center;
    }
    .service-element-data-layer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .service-element-data-layer h3, .service-element-data-layer p{
        text-align: center;
    }
}



/*media queries*/